/.AddEReferenceRapidButtonBehavior.java._trace
/.AddESuperTypeRapidButtonBehavior.java._trace
/.EClassDescriptor.java._trace
/.EClassNode.java._trace
/.EReferenceDescriptor.java._trace
/.ESuperTypeDescriptor.java._trace
/.ESuperTypeHandle.java._trace
/.EcoreDomainObjectProvider.java._trace
/AddEReferenceRapidButtonBehavior.java
/AddESuperTypeRapidButtonBehavior.java
/EClassDescriptor.java
/EClassNode.java
/EReferenceDescriptor.java
/ESuperTypeDescriptor.java
/ESuperTypeHandle.java
/EcoreDomainObjectProvider.java
