<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fxdiagram.xtext.glue.fxDiagramConfig">
      <config
            class="de.fxdiagram.pde.PluginDiagramConfig"
            id="de.fxdiagram.pde.PluginDiagramConfig">
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="de.fxdiagram.pde.AddPluginHandler"
            description="Show plug-in in FXDiagram"
            id="de.fxdiagram.pde.addPlugin"
            name="Add Bundle">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
	      <command 
	      	commandId="de.fxdiagram.pde.addPlugin"
	        icon="icons/FXDiagram.png"
	        label="Show plug-in in FXDiagram" 
	        style="push">
	      </command>
      </menuContribution>
   </extension>
</plugin>
