<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
	<footer class="inner">
		<p class="copyright">FXDiagram is maintained by <a href="https://github.com/JanKoehnlein">JanKoehnlein</a></p>
		<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
		<script src="javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
		<script src="javascripts/prettify.js" type="text/javascript"></script>
		<script src="javascripts/lang-xtend.js" type="text/javascript"></script>
		<script src="javascripts/lang-common.js" type="text/javascript"></script>
		<script src="javascripts/custom.js" type="text/javascript"></script>
	</footer>
</div>
