<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="fxDiagramConfig" name="FXDiagram Configuration" schema="schema/fxDiagramConfig.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.fxdiagram.eclipse.FXDiagramView"
            icon="icons/FXDiagram.png"
            id="de.fxdiagram.eclipse.FXDiagramView"
            name="Diagram View"
            restorable="true">
      </view>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="Show Element in FXDiagram"
            id="de.fxdiagram.eclipse.showInDiagramCommand"
            name="Show in FXDiagram">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="de.fxdiagram.eclipse.commands.ClearDiagramHandler"
            description="Clear the current FXDiagram"
            id="de.fxdiagram.eclipse.ClearDiagram"
            name="Clear Diagram">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="de.fxdiagram.eclipse.commands.NewDiagramHandler"
            description="Create a new FXDiagram tab"
            id="de.fxdiagram.eclipse.NewDiagram"
            name="New Diagram">
      </command>
   </extension>
   <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?before=group.edit">
             <command
                   commandId="de.fxdiagram.eclipse.showInDiagramCommand"
                   icon="icons/FXDiagram.png"
                   style="push"
                   tooltip="Open in FXDiagram">
         </command>  
         </menuContribution>
	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fxdiagram.eclipse.FXDiagramView">
         <command
               commandId="de.fxdiagram.eclipse.ClearDiagram"
               icon="icons/delete.gif"
               label="Clear Diagram"
               style="push">
         </command>
         <command
               commandId="de.fxdiagram.eclipse.NewDiagram"
               icon="icons/add.png"
               label="New Diagram"
               style="push">
         </command>
      </menuContribution>
   </extension>
   

</plugin>
