<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fxdiagram.eclipse.fxDiagramConfig">
      <config
            class="de.fxdiagram.pde.BundleDiagramConfig"
            id="de.fxdiagram.pde.BundleDiagramConfig">
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="de.fxdiagram.pde.AddBundleHandler"
            description="Show plug-in in FXDiagram"
            id="de.fxdiagram.pde.addPlugin"
            name="Double-click adds plug-in">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="de.fxdiagram.pde.ConsiderOptionalDependeniesHandler"
            description="Consider optional plug-in dependencies"
            id="de.fxdiagram.pde.considerOptionalDependencies"
            name="Consider plug-in optional dependencies">
      </command>
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="de.fxdiagram.pde.ConsiderFragmentDependeniesHandler"
            description="Consider fragment dependencies"
            id="de.fxdiagram.pde.considerFragmentDependencies"
            name="Consider fragment dependencies">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?endof=group.edit">
	      <separator
	             name="de.fxdiagram.pde.separator1" visible="true">
	      </separator>
	      <menu
                label="Show in FXDiagram as..."
                icon="icons/FXDiagram.png">
                <dynamic 
                      id="de.fxdiagram.eclipse.pde.showInDiagramMenu"
                      class="de.fxdiagram.eclipse.commands.ShowInDiagramContribution">
                </dynamic>
                <visibleWhen
                      checkEnabled="false">
                   <with
                         variable="activePart">
                      <test
                            property="de.fxdiagram.eclipse.hasDiagramMapping"
                            value="true">
                      </test>
                   </with>
                </visibleWhen>
     	  </menu>  
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:de.fxdiagram.eclipse.FXDiagramView">
         <command
               id="de.fxdiagram.eclipse.pde.pulldownMenu"
               commandId="de.fxdiagram.pde.addPlugin"
               icon="icons/plugins_and_fragments.gif"
               label="PDE diagram options"
               style="pulldown">
         </command>
      </menuContribution>
      <menuContribution locationURI="menu:de.fxdiagram.eclipse.pde.pulldownMenu">
         <command
               id="de.fxdiagram.eclipse.pde.pulldownMenu"
               commandId="de.fxdiagram.pde.addPlugin"
               icon="icons/plugins_and_fragments.gif"
               label="Double-click adds plug-in"
               style="toggle">
         </command>
         <command
               commandId="de.fxdiagram.pde.considerOptionalDependencies"
               icon="icons/optional.gif"
               label="Consider optional dependencies"
               style="toggle">
         </command>
         <command
               commandId="de.fxdiagram.pde.considerFragmentDependencies"
               icon="icons/fragment.gif"
               label="Consider fragment dependencies"
               style="toggle">
         </command>
     </menuContribution>
   </extension>
   <extension
         point="de.fxdiagram.eclipse.selectionExtractor">
      <selectionExtractor
            class="de.fxdiagram.pde.BundleSelectionExtractor">
      </selectionExtractor>
   </extension>
</plugin>
